.recipes-list-item {
    display: inline-block;
    width: 25%;
    vertical-align: top;
}
.recipes-list-item  .image {
    height: 300px;
    background-size: cover;
}
.recipes-list-item h2 {
    color: black;
    box-sizing: border-box;
    padding: 20px;
}
